body {
  background-image:url('rocket.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right bottom;
}

body { background: #595959;
background: -moz-linear-gradient(left, #595959 -1%, #666666 0%, #595959 0%, #ffffff 0%, #4c4c4c 51%, #2b2b2b 76%, #1c1c1c 91%, #111111 99%, #000000 99%, #131313 100%, #666666 100%, #2c2c2c 100%, #2c2c2c 100%, #474747 100%, #595959 100%);
background: -webkit-linear-gradient(left, #595959 -1%,#666666 0%,#595959 0%,#ffffff 0%,#4c4c4c 51%,#2b2b2b 76%,#1c1c1c 91%,#111111 99%,#000000 99%,#131313 100%,#666666 100%,#2c2c2c 100%,#2c2c2c 100%,#474747 100%,#595959 100%);
background: linear-gradient(to right, #595959 -1%,#666666 0%,#595959 0%,#ffffff 0%,#4c4c4c 51%,#2b2b2b 76%,#1c1c1c 91%,#111111 99%,#000000 99%,#131313 100%,#666666 100%,#2c2c2c 100%,#2c2c2c 100%,#474747 100%,#595959 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#595959',GradientType=1 );
}


#nav li {
  text-align: center;
}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
